.card {
    background-color: hsla(225, 15%, 69%, 0);
    border-radius: 55px;
    margin-left: 55px;
    padding: 3%;
    width: 777px;
    height: 300px;

    animation: shakeY 22s linear infinite;
    animation-play-state: running;
}

@media only screen and (min-width: 3000px) {
    .card {
        width: auto;
        height: auto;
    }
}

.card:hover {
    animation-play-state: paused;
}

.cardLayout {
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    column-gap: 50px;
}

.cardDetails {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.cardPhoto {
    border-radius: 4px;
    height: 23%;
    width: 23%;
}