.card {
    background-color: hsla(225, 15%, 69%, 0);
    border-radius: 1em;

    padding-left: 3em;
    padding-right: 5em;
    max-width: 100em;
    height: 10em;
    animation: shakeY 60s linear infinite;
    animation-play-state: running;
}

@media (min-width: 70em) {
    .card {
        background-color: hsla(225, 15%, 69%, 0);
        border-radius: 1em;

        padding-left: 3em;
        padding-right: 5em;
        min-width: 40em;
        height: 10em;
        animation: shakeY 60s linear infinite;
        animation-play-state: running;
    }
}

.card:hover {
    animation-play-state: paused;
}

.cardLayout {
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    column-gap: 1em;
}

.cardDetails {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.cardPhoto {
    border-radius: 2em;
    height: 23%;
    width: 23%;
}