.navBar {
    position: relative;
    display: flexbox;
    flex-direction: row;
    text-align: right;
    top: 1em;
    right: 3em;
}

.navButton {
    font-size: 1em;
    width: 5em;
    height: 1.85em;
}

.navButton {
    font-family: 'Gill Sans',
        'Gill Sans MT',
        Calibri,
        'Trebuchet MS',
        sans-serif;
    color: #EEF1EF;
    background-color: #eef1ef00;
    border: none;
    border-radius: 1em;
    margin: 1em;
    box-shadow: 0px;
    transition-duration: 0.4s;
    margin-right: 1em;
}

.navButton:hover {
    color: rgb(0, 0, 0);
    background-color: #EEF1EF;
}