.tile {
    background-color: hsla(225, 15%, 69%, 0);
    color: #EEF1EF;
    border: none;
    width: 300px;
    height: 120px;
    border-radius: 5%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tile:hover {
    animation: bob 1s linear infinite paused;
    animation-play-state: running;
}

@keyframes bob {

    from,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(0, -1px, 0);
        transform: translate3d(0, -1px, 0);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(0, 1px, 0);
        transform: translate3d(0, 1px, 0);
    }
}