.popUp {

    display: grid;
    grid-template-columns: .5fr 19fr .5fr;
    grid-template-rows: .7fr 5.3fr .1fr 2fr .3fr;
    border-radius: 33px;

    max-width: 30em;
    min-width: 20em;
    min-height: 30em;
    padding-left: 3em;
    animation: fadeIn .5s linear;
    animation-play-state: running;

    padding-bottom: 30em;
    padding-top: 4em;
    grid-column: 1/2;
    grid-row: 11/11;

}

@media (min-width: 70em) {
    .popUp {

        display: grid;
        grid-template-columns: .5fr 19fr .5fr;
        grid-template-rows: .7fr 5.3fr .1fr 2fr .3fr;
        border-radius: 33px;

        min-width: 40em;
        min-height: 40em;
        max-width: 50em;

        padding-bottom: 10em;
        padding-top: 0;

        animation: fadeIn .5s linear;
        animation-play-state: running;

        grid-column: 2/2;
        grid-row: 10/10;

    }
}

@media(min-width:200em) {
    .popUp {

        display: grid;
        grid-template-columns: .5fr 19fr .5fr;
        grid-template-rows: .7fr 5.3fr .1fr 2fr .3fr;
        border-radius: 33px;

        min-width: 100em;
        min-height: 85em;
        max-width: 50em;

        padding-bottom: 10em;
        padding-top: 0;

        animation: fadeIn .5s linear;
        animation-play-state: running;

        grid-column: 2/2;
        grid-row: 10/10;

    }
}

.popUpSummary {
    grid-row: 3/3;
    grid-column: 2 / 2;
}

.popUpTitle {
    grid-row: 1/1;
    grid-column: 2 / 2;
    margin-left: 1em;
}

.popUpVisualsContainer {
    grid-row: 2/2;
    grid-column: 2 / 2;
}

.popUpInfo {
    grid-row: 4/4;
    grid-column: 2 / 2;
}

.popUpLinks {
    grid-row: 5/5;
    grid-column: 2 / 2;
    margin-left: 1em;
}

.popUpClose {
    grid-column: 3 / 3;
    grid-row: 1/1;
}