.projectGrid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    padding-left: 1em;
    padding-bottom: 10em;
}

.projectGridContainer {
    grid-column: 1/1;
    grid-row: 10/10;
    text-align: center;
}