.tile {
    color: #EEF1EF;
    border: none;
    width: 15em;
    height: 10em;
    border-radius: 5%;
    padding-left: 5em;
    max-width: 10em;
}

@media (min-width: 70em) {
    .tile {
        color: #EEF1EF;
        border: none;
        width: 15em;
        max-width: 100em;
        height: 10em;
        border-radius: 5%;
        grid-column: 1;
        padding-left: 5em;
    }
}

@keyframes bob {

    from,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(0, -1px, 0);
        transform: translate3d(0, -1px, 0);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(0, 1px, 0);
        transform: translate3d(0, 1px, 0);
    }
}

.tile:hover {
    animation: bob 1s linear infinite paused;
    animation-play-state: running;
}