.projectGrid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    padding-left: 1em;
}

@media (min-width: 70em) {
    .projectGrid {
        padding-left: 5em;
    }
}

.projectGridContainer {
    grid-column: 1/1;
    grid-row: 10/10;
    text-align: center;
}