.summary {
    background-color: hsla(225, 15%, 69%, 0.33);
    grid-column: 3/3;
    grid-row: 4/4;
    border-radius: 55px;
    margin: 2%;
    padding: 3%;
    width: 777px;
    height: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    animation: rotate360 22s linear infinite;
    animation-play-state: running;
}

.summaryPhoto {
    border-radius: 3px;
    width: 33%;
    height: 33%;
    margin-left: 10%;
}

.summaryDetails {
    display: flex;
    min-width: 88%;
    min-height: 33%;
    flex-direction: row;
}

.summary:hover {
    animation-play-state: paused;
}

@keyframes rotate360 {

    from,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }
}